<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed&display=swap" rel="stylesheet">
<style>
body {
    font-family: 'Abel', sans-serif;
}

</style>
</head>

<body>
    <h1>All posts</h1>
    <form method="POST">
        {% csrf_token %}
        <select name="name">
            {% for tag in tag_list %}
                <option value="{{ tag.pk }}">{{ tag }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Sort">
    </form>
    <button><p style="font-size: 20px;"><a style="text-decoration: none; color: coral;" href="{% url "create_post_url" %}">Create post</a></p></button>
    <div>

        {% for post in post_list  %}
        <h1 style="font-size: 23px;">{{ post.author_post }} - {{ post.title_post }}</h1>
        <button>
    
            <a style="text-decoration: none;color: coral;font-size: 20px;" href="{% url "show_post_url" pk=post.pk %}">Post detail</a>
        </button>
        <button>
    
            <a style="text-decoration: none;color: coral;font-size: 20px;" href="{% url "delete_post_url" pk=post.pk %}">Delete post</a>
        </button>
        <button>
    
            <a style="text-decoration: none;color: coral;font-size: 20px;" href="{% url "update_post_url" pk=post.pk %}">Update post</a>
        </button>
        {% endfor %}
    </div>
</body>
</html>